.edit-profile-form {
  width: 450px;
  margin-inline: 0;
  margin-top: 20px;
  // mb: 4,
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  // border: 2px solid black;
}
