*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  //   line-height: 1.5;
}

.flex {
  display: flex;
}

$accent-color: rgb(87, 87, 221);
//Pages imports
@import "/src/Pages/Main/MainPage.scss";
@import "/src/Pages/EditProfile/EditProfile.scss";
@import "/src/Pages/EditProfile/EditProfileForm.scss"; //Components imports
@import "/src/Layout/NavBar.scss";
@import "/src/Pages/NewPost/NewPost.scss";
@import "/src/Pages/NewPost/PostForm.scss";
@import "/src/Pages/Main/PostComponent.scss";
