.loading {
  margin-top: 200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d-none{
  display: none;
}

.mt-sm{
  margin-top: 0.5rem;
}