.post {
  border-bottom: 1px solid #ddd;
  padding-inline: 20px;
  // padding-block-end: 15px;
  margin-top: 20px;
  // border-radius: 10px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 24px;
    // margin-bottom: 10px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    &:visited {
      color: black;
    }
    &:hover {
      color: $accent-color;
      // font-weight: 800;
    }
  }

  &__content {
    font-size: 18px;
    color: #666;
    margin-block: 5px;
  }

  &__img-wrap {
    background-color: #f0f0f0;
    border-radius: 5px;
    // margin-bottom: 10px;
  }

  &__img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    display: block;
    margin-inline: auto;
  }

  &__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 5px;
  }

  &__name {
    font-size: 12px;
  }

  &__friend {
    &__user {
      background-color: rgb(158, 75, 75);
      // font-size: 14px;
      padding: 2px 5px;
      border-radius: 10px;
    }
    &__friend {
      font-size: 12px;
      background-color: rgba(81, 143, 52, 0.808);
      padding: 2px 5px;
      border-radius: 10px;
    }
    button {
      @include btn;
      padding: 4px 8px;
      font-size: 12px;
    }
  }

  &__likes {
    span {
      display: flex;
      gap: 5px;
    }
  }

  &__tup {
    cursor: pointer;
    &-clicked {
      color: $accent-color;
      transform: scale(1.2);
    }
  }
  &__tup:hover {
    transform: scale(1.2);
  }

  &__tdown {
    cursor: pointer;
    &-clicked {
      color: rgb(179, 52, 52);
      transform: scale(1.2);
    }
  }
  &__tdown:hover {
    transform: scale(1.2);
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
